---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

/* myStyle.css */
body {
 background-color: blue;
 color: white;
 font-family: Roboto;
 padding: 2em;
}

h1 {
 color: #FFFF33;
 text-align: center;
 #font: 200% Comic Sans MS;#
 border: 10px solid black;
 font-family: 'Droid Sans', sans-serif;
 font-size: 2.5em;
}

h2 {
  color: pink;
  text-align: center;
  border: 20px solid blue;
  font-family: 'Droid Sans', sans-serif;
}

p {
 background-color: #3F3FBF;
 color: black;
 text-align: center;
 border: 3px groove green;
}

.btn {
  text-align: center;
  margin: 0 auto;
  color: white;
}

.container {
  border: 6px groove red;
  border-radius: 30%;
  background-color: green;
}

.skillset {
  display: flex;
  font-family: Pangolin;
  justify-content:  space-around;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.skill-html {
  background-color: #53f397;
  color: black;
}

.skill-js {
  background-color: #d45df2;
  color: blue;
}

.skill-jquery {
  background-color: #0C73B8;
  color: yellow;
}

.skill-html,
.skill-js,
.skill-jquery {
  width: 100%;
  padding: 1em 3em 2em 2em;
  margin: 0.5em;

}

.projects-button {
  padding: 0.75em 1.25em;
  background-color: white;
  opacity: 0.9;
  width: 10em;
  color: black;
  display: flex;
  justify-content: center;
}


ul {
  list-style: disc;
  padding: 0;
}

.projects {
  margin: 1em 0;
}

.active {
  background-color: #333333;
  color: white;
}

.London {
  font-family: 'Pangolin', cursive;
}


// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
